.featured {
    width: 100%; /* Assurez-vous que la section featured occupe toute la largeur */
    padding: 20px; /* Espace intérieur */
    background-color: #f9f9f9; /* Couleur de fond */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  
      .title {
        font-size: 20px;
        font-weight: bold;
      }
    }
  
    .bottom {
      display: flex;
      justify-content: center;
      align-items: center;
  
      .featuredTask {
        width: 50%; /* Ajustez la largeur de la tâche en vedette selon vos besoins */
        margin: auto; /* Centrage horizontal */
        text-align: center;
  
        .featuredChart {
          margin: auto; /* Centrage horizontal */
          width: 70%; /* Ajustez la largeur du graphique selon vos besoins */
        }
  
        .title {
          font-size: 18px;
          font-weight: bold;
          margin-top: 10px;
        }
  
        .summary {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
  
          .item {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
  
            .itemTitle {
              font-size: 14px;
              color: #999;
            }
  
            .itemResult {
              display: flex;
              align-items: center;
              font-size: 16px;
              margin-top: 5px;
  
              .resultAmount {
                margin-left: 5px;
              }
            }
  
            .positive {
              color: green;
            }
  
            .negative {
              color: red;
            }
          }
        }
      }
    }
  }
  